::-webkit-scrollbar {
  width: 0;
}

body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    min-width: 1200px;
}

img 
{
  width: 100%;
  height: 100%;
}

h1,h2,h3 
{
  margin: 0;
  font-weight: 600;
}
    
#header
{
    position: relative;
    right: 251px;
    height: 82px;
   

}
#menu
{
    position: absolute;
    right: 0;
    top: 1.6em;
}
.li
{
    display: block;
    float: left;
    text-align: center;
    margin-left: 1px;
    padding: 1em 1.5em 0em 1.5em;
    letter-spacing: 0.10em;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    outline: 0;
    display: inline-block;
    color: #FFF;

}





#menu li a, #menu li span
{
    
    margin-left: 1px;
    padding: 1em 1.5em 0em 1.5em;
    letter-spacing: 0.10em;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
}

.текущая_страница 
{
    color: #be18db
}
#header-wrapper
{
  background: #2b2b2b;
}

#header
{
  position: relative;
  right: 230px;
  height: 100px;
} 
.Iam 
{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container 
{
    margin: auto;
    width:1200px
}

.Iam_container 
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 290px,1fr));
  grid-gap: 20px;
}


.Iam_about 
{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.Iam_title
 {
  font-size: 48px;
  line-height: 1.1;

  margin-bottom: 20px;
}

.Iam_prof 
{
  color: #4facfe;
  white-space: nowrap;
}

.Iam_name 
{
  font-size: 32px;
  font-weight: 400;
}

.Iam_links 
{
  display: flex;
}

.Iam_link 
{
  margin-right: 10px;
  font-size: 30px;
  color: #000;
}

.Iam_link:hover
 {
  color: #cd20e8;
}


.Iam_box
 {
  max-width: 500px;
  overflow: hidden;
  border: 10px solid #fff;
  border-radius: 50%;  
    
}



#copyright
{
    overflow: hidden;
    padding: 7em 30em 11em 0em;
    border-top: 1px solid rgba(255,255,255,0.08);
    max-height: 0px

}
#copyright.footer
{
    position: relative;
    top: 350px

}
#copyright p
{
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: rgba(255,255,255,0.3);
    position: relative;
    top: 40px; right: -205px;

}

#copyright a
{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}
footer
{
    background: #2b2b2b
}

